<div class="container">

</div>
<h1>Edit Candidates</h1>

<form [formGroup]="nominationForm">
  <mat-card>
    <h2>Candidates</h2>
  </mat-card>

  <div formArrayName="candidates">
    <div *ngFor="let item of candidates.controls; let candidateIndex=index" [formGroupName]="candidateIndex">
      <mat-card>
        <div class="row">
          <div class="col-sm-4">
            <mat-form-field>
              <input matInput placeholder="Enter your name" formControlName="name" required>
              <mat-error *ngIf="item.get('name').invalid">Name is required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field>
              <input matInput placeholder="Enter your ET" formControlName="et" required>
              <mat-error *ngIf="item.get('et').invalid">ET is required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field>
              <input matInput placeholder="Enter your Dept" formControlName="dept" required>
              <mat-error *ngIf="item.get('dept').invalid">Dept is required</mat-error>
            </mat-form-field>

            <button type="button" (click)="deleteCandidate(candidateIndex)">Delete</button>
          </div>
        </div>
      </mat-card>
    </div>

    <button type="button" (click)="addCandidate()">Add</button>
  </div>

  <div class="row">
    <mat-card>
      <div class="col-sm-6">

      </div>
      <div class="col-sm-6">

      </div>
    </mat-card>
  </div>

  <label>
    Tier: <input formControlName="tier" />
  </label>

  <label>
    Valor: <input formControlName="valor" />
  </label>

</form>

{{ this.nominationForm.value | json }}
